<div>
  <%= flash[:notice] %>
</div>
<div class="container px-5 px-sm-0 mt-3">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: 'templates/template', locals: { book: @book , user: @user} %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td style="display: flex; flex-direction: column;">
              <%= image_tag @my_book.user.get_profile_image(80, 80), width: 100, height: 100 %>
              <%= link_to @my_book.user.name, user_path(@my_book.user.id) %>
            </td>
            <td><%= link_to @my_book.title, book_path(@my_book.id) %></td>
            <td><%= @my_book.body %></td>
            <td>
              <% if @my_book.favorited_by?(current_user) %>
                <%= link_to book_favorites_path(@my_book), method: :delete do %>
                <span class="fa-solid fa-heart"></span><%= @my_book.favorites.count %>
                <% end %>
              <% else %>
                <%= link_to book_favorites_path(@my_book), method: :post do %>
                <span class="fa-regular fa-heart"></span><%= @my_book.favorites.count %>
                <% end %>
              <% end %>
            </td>
            <td>
              コメント数:<%= @my_book.book_comments.count %>
            </td>
            <% if current_user.id == @my_book.user_id %>
              <td>
                <%= link_to 'Edit', edit_book_path(@my_book.id), class:"btn btn-success" %>
              </td>
            <% end %>
            <% if current_user.id == @my_book.user_id %>
              <td>
              <%= link_to 'Destroy', book_path(@my_book.id), method: :delete, "data-confirm"=>"本当に消しますか？", class:"btn btn-danger" %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <% @my_book.book_comments.each do |book_comment| %>
        <div class="row mb-2">
          <div class="col-md-2">
            <div class="row">
              <%= image_tag book_comment.user.get_profile_image(80,80) %>
            </div>
            <div class="row">
              <%= link_to book_comment.user.name, user_path(book_comment.user.id) %>
            </div>
          </div>
          <div class="col-md-2">
            <%= content_tag :div, book_comment.comment %>
          </div>
          <% if current_user.id == book_comment.user_id %>
            <div class="col-md-2">
              <%= link_to 'Destroy', book_book_comment_path(book_comment.book, book_comment), method: :delete, class:"btn btn-danger" %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <%= form_with model: [@my_book, @book_comment], url: book_book_comments_path(@my_book) do |f| %>
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control" %>
              <%= f.submit "送信", class: "btn btn-secondary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>