<%= render partial: 'templates/template', locals: { book: @book , user: @user} %>
<h1>Book detail</h1>
<%= image_tag @my_book.user.get_profile_image(100, 100) %>
<%= link_to @my_book.user.name, user_path(@my_book.user.id) %>

<%= link_to @my_book.title, book_path(@my_book.id) %>
<%= @my_book.body %>
<%= link_to 'Edit', edit_book_path(@my_book.id) %>
<%= link_to 'Destroy', book_path(@my_book.id), method: :delete, "data-confirm"=>"本当に消しますか？" %>
