<div>
  <% if user_signed_in? %>
    <%= link_to "Home", user_path(current_user.id) %>
    <%= link_to "Users", users_path %>
    <%= link_to "Books", books_path %>
  <% end %>
  <%= form_with model: @book, url: books_path, method: :post do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Opnion</p>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>
</div>

<h1>Book detail</h1>
<%= @book.title %>
<%= @book.body %>
<%= link_to 'Edit', edit_book_path(@book.id) %>
<%= link_to 'Destroy', book_path(@book.id), method: :delete, "data-confirm"=>"本当に消しますか？" %>
